.popup__container{
    width: 600px;
    height: 600px;
    margin: auto;
    background-size: contain;
    background-position:top right;
    position: relative;
    background-repeat: no-repeat;
}
/*background-size: contain;
    background-repeat: no-repeat;
    display:flex;
        margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;*/