@import url('../styles/fonts/fonts.css');

.body{
    background-color:  #E5E5E5;
    color: #000000;
}

.page {
    max-width: 900px;
    width: 60%;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 auto;
}

.intro__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
}

.blog-post {
    display: flex;
    align-items: flex-start;
    max-width: 900px;
}

.blog-post__container {
    max-width: 900px;
}

.blog-post__heading {
    max-width: 227px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
}

.blog-post__text {
    max-width: 684px;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.blog-post__icons-container {
    display: flex;
    justify-content: center;
    max-width: 95px;
}

.blog-post__icon {
    width: 20px;
    height: 20px;
    background-color: #ECECEC;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 4px;
}

.blog-post__icon:hover {
    background-color: #d4d2d2;
    transition: 0.2ms;
}



